<div class="container-fluid">
  <div class="row question-row">
   <div class="col-md-3 left-list">
      <sdrc-data-entry-head></sdrc-data-entry-head>
   </div>
  <div class="col-md-9 content-sec">
      <div class="col-md-10 offset-md-1">
      <h2 class="list-heading">Awareness/outreach activities</h2>
      <form>
          <json>{{allformData}}</json>
        <div>                     
              <div class="row">
                  <div class="col-md-12 sub-headings"style="color: #1f4a7c; font-size: 16px; margin-bottom: 20px;"></div>
              </div> 
          </div>    
      </form>
  </div>  
  </div>
</div>

