<div id="bbbp-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#bbbp-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bbbp-carousel" data-slide-to="1"></li>
    <li data-target="#bbbp-carousel" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  style="height:450px;" src="./assets/images/img1.jpg" alt="BBBP">
    </div>
    <div class="carousel-item">
      <img style="height:450px;" src="./assets/images/img2.jpg" alt="BBBP">
    </div>
    <div class="carousel-item">
      <img style="height:450px;" src="./assets/images/img3.jpeg" alt="BBBP">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" style="cursor: pointer" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" style="cursor: pointer" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<!-- Container (department Section) -->
<div id="department" class="container-fluid">
  <div class="text-center">
    <h4>Departments</h4>
    <h6>See the new and upcoming notification is given below</h6>
  </div>
  <div class="row slide">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h6>Recruitment News</h6>
        </div>
        <div class="panel-body">
        
          
        </div>
        
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h6>What's New</h6>
        </div>
        <div class="panel-body">
          
        </div>
        
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h6>Notification</h6>
        </div>
        <div class="notify-contain">
            <ul style="padding-left:20px;"><marquee direction="up" scrollamount="2"  onmouseover="this.stop();" onmouseout="this.start();" >
              <li><a class="notice-anchr" href="https://sdrc.co.in/about/" target="_blank">70th Independence Day Celebration.<img src="./assets/images/new.gif" width="70px;" height="20px;"></a></li>
              <li><a class="notice-anchr" href="https://sdrc.co.in/job-profiles/" target="_blank">Notification-1st November, 2016.<img src="./assets/images/new.gif" width="70px;" height="20px;"></a></li>
              <li><a class="notice-anchr" href="https://sdrc.co.in/resources/" target="_blank">Notice- Time Bound Processing of Notes.</a></li>
              <li><a class="notice-anchr" href="https://sdrc.co.in/gallery/" target="_blank">India's first 24 hour free emergency telephonic help line</a></li>
              <li><a class="notice-anchr" href="https://sdrc.co.in/#contact-us" target="_blank">India's first 24 hour free emergency telephonic help line</a></li>
              <li><a class="notice-anchr" href="https://sdrc.co.in/service/research-and-advocacy/" target="_blank">India's first 24 hour free emergency telephonic help line</a></li>
            </marquee>
            </ul>
        </div>
        
      </div>      
    </div>
       
  </div>
</div>

<div class="body-end">

</div>




