.resource-end{
  height: 100px;
}
table.table a {
  margin: 0;
  color: #1f4a7c;
}
.page-heading{
  margin-top: 15px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #1f4a7c;
}
.inner-page-title{
  font-family: sans-serif;
  color: #1f4a7c;
  text-transform: uppercase;

}
.table>thead>tr>th {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #1f4a7c;
}
.inner-page-title h5{
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 15px;
  position: relative;
}

.inner-page-title h5::after {
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 55px;
  background-color: #1f4a7c;
}
td>.resource-data :hover{
  color: red;
}
i.fa.fa-2x.fa-file-pdf-o:hover{
  color:green;
}