<div class="container">
        <div class="col-md-12">
    <div class="row table-responsive">
        
            <div class="page-heading">
                <h4>Resources</h4>
            </div>
            <div class="inner-page-title">
                <h5>1. Acts & Rules, Schemes, Circular & Guidelines </h5>
            </div>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Acts & Rules, Schemes, Circular & Guidelines</th>
                        <th class="text-center">Download</th>
                    </tr>
                </thead>
            
                 <tbody>
                    <tr>
                      <td><div class="resource-data"><label>Act 2015</label></div> </td>
                      <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                    <tr>
                      <td>Bihar JJ Rule 2017-Part 1</td>
                      <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                    <tr>
                      <td>Bihar JJ Rule 2017-Part 2</td>
                      <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                    <tr>
                        <td>Child Labour (Prohibition and Regulation) Amendment Rules, 2017 (Model Rule)</td>
                        <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                    <tr>
                        <td>National Commission for Protection of Child Rights Act 2005</td>
                        <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
            
                 </tbody>
            </table>    
        </div>
    </div>
    <div class="col-md-12">
            <div class=" row table-responsive">
                <div class="inner-page-title">
                    <h5>2.Departmental Orders and Letters</h5>
                </div> 
                <table class="table  table-striped factsheet">
                  <thead>
                    <tr>
                      <th>Departmental Orders and Letters</th>
                      <th class="text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="width:85%;">Circular-GOB-based on BBA Case</td>
                      <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                     <tr>
                      <td style="width:85%;">SOP-Trafficking of Children</td>
                      <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                     <tr>
                      <td style="width:85%;">Compendium Humantrafficking</td>
                      <td class="text-center"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                    <tr>
                      <td style="border-bottom: 1px solid #ddd; width:85%;">Joint Guideline LRD & DSW</td>
                      <td class="text-center" style="border-bottom: 1px solid #ddd;"><a href="./assets/resource/lesson.pdf" download><i class="fa fa-2x fa-file-pdf-o"></i></a></td>
                    </tr>
                   
                    </tbody>
                </table>
              </div>
            </div>
</div>
<div class="resource-end">

</div>
          