<div class="container">
  <div class="col-md-12">
    <div class="row">
    <div class="col-md-6 content-container">
      <div class="about-text">
           <h6> About Us</h6>
            <p>A windmill is a mill that converts the energy of wind into rotational energy
            by means of vanes called sails or blades.[1][2] Centuries ago, windmills usually
            were used to mill grain (gristmills), pump water (windpumps), or both.The majority 
            of modern windmills take the form of wind turbines used to generate electricity, or 
            windpumps used to pump water, either for land drainage or to extract groundwater.</p>    
      </div>
      <div class="about-text">
          <h6> Windmills in antiquity</h6>
           <p>The windwheel of the Greek engineer Heron of Alexandria in the first century is the 
             earliest known instance of using a wind-driven wheel to power a machine.
             Another early example of a wind-driven wheel was the prayer wheel, which has been used in 
             Tibet and China since the fourth century.It has been claimed that the Babylonian 
             emperor Hammurabi planned to use wind power for his ambitious irrigation project in the 
             seventeenth century BCE.</p> 
             <p>The first practical windmills had sails that rotated in a horizontal plane, around a 
               vertical axis.According to Ahmad Y. al-Hassan, these panemone windmills were invented 
               in eastern Persia as recorded by the Persian geographer Estakhri in the ninth century.
               The authenticity of an earlier anecdote of a windmill involving the second caliph Umar 
               (AD 634–644) is questioned on the grounds that it appears in a tenth-century document.</p>      
     </div>
    </div>
      <div class="col-md-6" >
        <div class="img-conatiner">
            <img class="img-responsive" style="height:300px; width:300px;" src="./assets/images/about.gif" alt="About">
         </div>
      </div>
    </div>
  </div>
</div>