.panel-text{
    border: 1px solid #1f4a7c; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
    height: 200px;
}
.panel-img{
    float:right;
}
.content-container{
    //height: 400px;
    //width: 400px;
}
.about-text h6 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200;
    color: #1f4a7c;
    text-align: center;
    
}
.about-text p {
    font-family: sans-serif;
    font-size: 13px;
    text-align: justify;
   
}
.img-conatiner {
    margin-left: 100px;
}
.container {
    margin-top: 30px;
}
