<div>
  <ul class="data-heads">
    <li class="data-head-list" [ngClass]="{'active': router.url=='/data-entry'}">
        <span class="list-span"><a routerLink="/data-entry">Inter-sectoral convergence/initiatives</a></span>      
    </li>
    <li class="data-head-list" [ngClass]="{'active': router.url=='/data-entry-survival'}">
        <span class="list-span"> <a routerLink="/data-entry-survival">Inter-sectoral initiatives for equal value of girl child</a></span>
    </li>
    <li class="data-head-list" [ngClass]="{'active': router.url=='/data-entry-training'}">
        <span class="list-span"><a routerLink="/data-entry-training"> Training and capacity-building </a></span>
    </li>
    <li class="data-head-list" [ngClass]="{'active': router.url=='/data-entry-awareness'}">
        <span class="list-span"><a routerLink="/data-entry-awareness"> Awareness/outreach activities </a></span>
    </li>
  </ul>
</div>
