
// @swarna

.dash-info
{
    color: #1f4a7c;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 30px;
}

.google-map{
    padding: 0;
    border: 4px solid #9e9e9e38;
}

.dash-heading{
    margin-top: 18px;
    margin-bottom: -18px;
}

.dash-container-fluid{
    width: 90%;
    padding: 0;
}

#pdfDownloadBtn, #excelDownloadBtn {
    background-color: #1f4a7c;
    color: #FFF !important;
    border-radius: 0;
    margin-top: 7px;
}

i.fa.fa-lg.fa-file-pdf-o, i.fa.fa-lg.fa-file-excel-o{
    color: #fff !important;
}

.square-color {
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 7px;
    background-color: #ce1324;
    margin-top: 2px;
}

.facilitySection{
    margin-left: 25%;
    margin-top: 20px;
}

.emerald {
    background-color: #1f4a7c;
    display: inline-block;
}

.bar-main-container {
    margin: 21px 0;
    width: 300px;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    color: #FFF;
    border-radius: 0;
}

.wrap {
    padding: 8px;
}

.bar-percentage {
    float: left;
    background: rgb(34, 138, 118);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 9px 0px;
    width: 18%;
    text-align: center;
    /* height: 16px; */
}

.bar-container {
    float: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 10px;
    background: rgb(223, 104, 100);
    width: 78%;
    margin: 12px 0px;
    overflow: hidden;
}

.bar {
    float: left;
    background: #228a76;
    height: 100%;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.mar-top-10{
    margin: 30px auto;
}

.mar-bot-10{
    margin-bottom: 10px;
}

.facilitySection>h5 {
    color: gray;
    font-weight: bold;
    font-size: 15px;
    margin: 9px auto;
}

.selection-bar {
    padding: 7px 15px !important;
    background-color: #CCC;
}

.col-md-offset-3{
    margin-left: 25%;
}

.dropdown-toggle::after {
    color: #333;
}

.input-box{
        border: 1px solid #ffffffd4;
        background: #ffffffd4;
        padding: 17px;
}

.btn .fa {
    color: #333;
}

.btn-size{
    padding: 0 14px 0 15px;
    margin: 3px 4px 0px 0px;
    box-shadow: none;
}

.download-container-excel{
    position: fixed !important; 
    right: -177px !important;
    z-index: 1000;
}

.dropdown-toggle::after {
    content: unset;
}

.dropdown-menu {
    position: absolute;
    left: -228px;
    z-index: 1000;
    padding: 5px 8px;
    margin: 1px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    min-width: 271px !important;
    max-height: 200px;
    overflow: auto;
}
