<footer id="foot" class="footer">
  <div class="container-fluid">			
    
    <div class="col-md-6 copy-right">
      <p>&copy; 2018 SDRC India</p>
    </div>

      <div class="col-md-6 footer-all-links">
        <ul class="footer-links">
          <li class="nav-item" [ngClass]="{'active': router.url=='/'}">
              <a class="nav-link" routerLink="terms-of-use">Terms of Use</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': router.url=='/'}"><a class="nav-link" routerLink="privacy-policy">Privacy Policy</a></li>
          <li class="nav-item" [ngClass]="{'active': router.url=='/'}"><a class="nav-link" routerLink="disclaimer">Disclaimer</a></li>
          <li class="nav-item" [ngClass]="{'active': router.url=='/'}"><a class="nav-link" routerLink="sitemap">Sitemap</a></li>
        </ul>
        
      </div>
  
  
    <!-- <div class="float-right">
      <span class="footerfont">Powered by </span><a
        href="http://sdrc.co.in/" target="_blank" class="text_deco_none"><span
        class="poweredbysdrc">SDRC</span></a>
    </div> -->
  </div>

</footer>
<!-- <footer class="footer">
<div class="container">
  <span class="text-muted">Place sticky footer content here.</span>
</div>
</footer> -->