

table.table thead th {
    border-top: none;
    background: #1f4a7c;
    color: #fff;
    text-align: center;
}

table.table td {
    text-align: center;
}

.margin-top-table{
    margin-top: 5%;
}