.login-form-container{
    height: auto;
    background-color: white;
    box-shadow:  -1px 3px 25px gray;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-submit {
    width: 100%;
    margin: 10px 0 0;
    padding: 0.65rem 2.13rem;
    background-color: #1f4a7c !important;
  }
  label{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .login-header.col-md-12 {
    height: 50px;    
    padding: 10px;
    color: #1f4a7c;
    font-family: sans-serif;
    font-size: x-large;    
  }
  .container-body {
    padding: 20px;
    padding-top: 0;
  }
  label.name {
    display: none;
  }
  input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {    
    border-bottom: 1px solid #CCCC;
    box-sizing: border-box;
    height: 33px;
    font-size: 13px;   
  }
  .error-message{
    text-align: center;
    color: rgb(245, 72, 72);
    display: none;
  }  