<div class="container">
  <div class="row question-row">
  
  <div class="col-md-6 offset-md-3" style="margin-top: 50px;">
  <!-- <h2 class="page-heading">Select Reporting Period</h2> -->
   <form>
     <div *ngFor="let field of formIndicators; let i = index;" [ngClass]="{'form-group':field.controlType == 'textbox'}" class="row indicator-container">
      <label [attr.for]="field.columnName" class="col-md-3">{{field.label}}</label> 
      <div [ngSwitch]="field.controlType" class="col-md-9 input-holder">
         <!-- input text box -->
         <input *ngSwitchCase="'textbox'" name="{{field.columnName}}"
                 [id]="field.columnName" [type]="field.type" [(ngModel)]="field.value" class="form-control" [ngClass]="{'no-spinners':field.type == 'number'}">
      
         <!-- Input dropdown-->
         <div class="btn-group" *ngSwitchCase="'dropdown'">
           <input type="text" [id]="field.columnName" style="padding: 0 10px;" readonly
           [placeholder]="''" [(ngModel)]="field.value" name="{{field.columnName}}" >
           <button type="button" style="padding: 0"  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"
           class="btn btn-default dropdown-toggle px-3 waves-light" 
            mdbRippleRadius></button>
           <div class="dropdown-menu drp-list">
               <a class="dropdown-item" style="font-size: 13px;"
                *ngFor="let opt of field.options" [value]="opt.key" (click)="selectDropdown(opt, formIndicators, i)">{{opt.value}}</a>
           </div>
         </div>    
         <!-- <div class="" [ngClass]="[!field.errorFound ? 'd-none':'']" style="color: red;    margin-top: -12PX; padding-left: 5px;">{{field.errorMessage}}</div>  -->
       </div> 
       
     </div>
     
     <div class="form-group row">
       <div class="col-md-12 text-center">
         <button class="btn btn-submit" type="submit" style="margin-top: 25px;" (click)="createDataEntry()">Create</button>
       </div>
     </div>
   </form>
 </div>
</div>
 </div>

 
 