<div class="container">
  <div class="row question-row">
  
  <div class="col-md-6 offset-md-3" style="margin-top: 50px;">
  <h2 class="page-heading">Select Reporting Period</h2>
   <form>
     <div *ngFor="let field of selectionFields; let i = index;" [ngClass]="{'form-group':field.controlType == 'textbox'}" class="row">
      <div class="col-md-12"style="color: #31859c; font-size: 18px; margin-bottom: 20px;">{{field.keyHeading}}</div> 
      <label [attr.for]="field.columnName" class="col-md-3">{{field.label}}</label>
       <div [ngSwitch]="field.controlType" class="col-md-9 input-holder">
         <!-- input text box -->
         <input *ngSwitchCase="'textbox'" name="{{field.columnName}}"
                 [id]="field.columnName" [type]="field.type" [(ngModel)]="field.value" class="form-control" [ngClass]="{'no-spinners':field.type == 'number'}">
      
         <!-- Input dropdown-->
         <div class="btn-group" style="padding-left: 3px;
         width: 100%;margin-bottom: 1rem" dropdown *ngSwitchCase="'dropdown'">
           <input type="text" class="dropdown-input" [id]="field.columnName" style="padding: 10px;" readonly
           [placeholder]="''" [(ngModel)]="field.value" name="{{field.columnName}}" >
           <button type="button" dropdownToggle style="padding: 0"
           class="btn btn-default dropdown-toggle dropdown-toggle-split px-3 waves-light select-dropdown" 
            mdbRippleRadius></button>
           <div class="dropdown-menu drp-list">
               <a class="dropdown-item" style="font-size: 13px;"
                *ngFor="let opt of field.options" [value]="opt.key" (click)="selectDropdown(opt, selectionFields, i)">{{opt.value}}</a>
           </div>
         </div>    
         <div class="" [ngClass]="[!field.errorFound ? 'd-none':'']" style="color: red;    margin-top: -12PX; padding-left: 5px;">{{field.errorMessage}}</div> 
       </div> 
       
     </div>
 
     <div class="form-group row">
       <div class="col-md-12 text-center">
         <button class="btn btn-default proceed-btn" type="submit" style="margin-top: 25px;" (click)="submitForm()">Create</button>
       </div>
     </div>
   </form>
 </div>
</div>
 </div>

 
 <div class="modal fade" id="alreadySaved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Previously saved</p>
        
                
                </div>
        
                <!--Body-->
                <div class="modal-body text-center">
                    <div class="text-center">
                        <i class="fa fa-close fa-4x animated rotateIn"></i>
                        <p>Data for the selected time period is saved for editing. Click Ok to Go to Drafts.</p>
                    </div>
                    <button type="button" class="btn btn-warning d-inline-block" (click)="goToDrafts()">Ok</button>
                    <button type="button" class="btn btn-secondary d-inline-block" data-dismiss="modal">Cancel</button>
                    
                    
                </div>
            </div>
            <!--/.Content-->
        </div>
        </div>
        <div class="modal fade" id="alreadySubmitted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Already submitted</p>
            
                    
                    </div>
            
                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <i class="fa fa-check fa-4x animated rotateIn"></i>
                            <p>Data for the selected time period is already submitted.</p>
                        </div>
                        <button type="button" class="btn btn-secondary m-auto d-block" data-dismiss="modal">Ok</button>
                        <!-- <button type="button" class="btn btn-warning mx-auto d-block" (click)="goToDrafts()">Okay</button> -->
                    </div>
                </div>
                <!--/.Content-->
            </div>
            </div>
  