<div id="wrapper">	
		<div class="content">
			<div class="container contain-box">
			   <h4 class="glr_heading">Photo Gallery</h4>
			    <div class="col-md-12">
			      <div class="tab-content">	   
	  	        <div id="photos" class="tab-pane in active photos_display">
                  <div class="row row_first">
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery">
                          <a href=""><img class="img-responsive img_tab image-gallery" class="img-thumbnail" src="./assets/gallery/nature.jpg" alt="Nature" /></a>
                          <span class="category-heading"><a href="categoryOne"><h6>Nature</h6></a></span>
                      </div>
                      <div class="col-md-3 col-sm-6  col-xs-12 gallery">
                          <a href=""><img class="img-responsive img_tab image-gallery" class="img-thumbnail" src="./assets/gallery/temple.jpg" alt="Temple" /></a>
                          <span class="category-heading"><a href="categoryTwo"><h6>Temple</h6></a></span>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery">
                          <a href=""><img class="img-responsive img_tab image-gallery" class="img-thumbnail" src="./assets/gallery/sea.jpg" alt="Seabeach"/></a>
                          <span class="category-heading"><a href="categoryThree"><h6>Seabeach</h6></a></span>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery">
                          <a href="" ><img class="img-responsive img_tab image-gallery" class="img-thumbnail" src="./assets/gallery/img4.jpg" alt="Zoo" /></a>
                          <span class="category-heading"><a href="categoryFour"><h6>Zoo</h6></a></span>
                      </div>    
                  </div>
                  <div class="row row_first">
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery">
                          <a href="" ><img class="img-responsive img_tab image-gallery" class="img-thumbnail" src="./assets/gallery/maldives.jpg" alt="Maldives" /></a>
                          <span class="category-heading"><a href="categoryFive"><h6>Maldives</h6></a></span>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery">
                          <a href="" ><img class="img-responsive img_tab image-gallery" class="img-thumbnail" src="./assets/gallery/laxmi.jpg" alt="Other" /></a>
                          <span class="category-heading"><a href="categorySix"><h6>Goddess</h6></a></span>
                      </div>
                  </div>
             </div>	    
			</div>
		</div>
      </div>
	</div>		
</div> 
<div class="body-gallery">

</div>
		
		

