<div class="container">
  <div class="row question-row">
  <div class="col-md-12">
  <div class="col-md-9 offset-md-1" style="margin-top: 50px;">
  <h2 class="page-heading">User registration</h2>
  <form>     
    <div *ngFor="let field of userRegistrationFields; let i = index;" [ngClass]="{'form-group':field.controlType == 'textbox'}" class="row">
      <label [attr.for]="field.key" class="col-md-4 text-right">{{field.label}}:</label>
      <div [ngSwitch]="field.controlType" class="col-md-6 input-holder">
        <!-- input text box -->
        <input *ngSwitchCase="'textbox'" name="{{field.columnName}}"
                [id]="field.key" [type]="field.type" [(ngModel)]="field.value" class="form-control" [ngClass]="[field.type == 'number'? 'no-spinners': '']">
         
        <!-- Input dropdown-->
        <div class="btn-group" style="padding-left: 3px;
        width: 100%;margin-bottom: 1rem" dropdown *ngSwitchCase="'dropdown'">
          <input type="text" class="dropdown-input" [id]="field.key"
          [placeholder]="''" [(ngModel)]="field.value" name="{{field.columnName}}" >
          <button type="button" dropdownToggle style="padding: 0"
        width: 100%;margin-bottom: 1rem" *ngSwitchCase="'dropdown'">
          <input type="text" class="dropdown-input" [id]="field.key" readonly
          [placeholder]="''" [(ngModel)]="field.value" name="{{field.columnName}}" >
          <button type="button" style="padding: 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          class="btn btn-default dropdown-toggle px-3 waves-light select-dropdown" 
           mdbRippleRadius></button>
          <div class="dropdown-menu drp-list">
              <a class="dropdown-item" style="font-size: 13px;"
               *ngFor="let opt of field.options" [value]="opt.key" (click)="selectDropDown(opt, userRegistrationFields, i)">{{opt.value}}</a>
          </div>
        </div>

        <!-- Input type radio -->
        <div *ngSwitchCase="'radio'">
          <div class="radio-btn-group" *ngFor="let opt of field.options">
            <input name="{{field.columnName}}" type="radio" id="{{opt.key}}">
            <label for="{{opt.key}}">{{opt.value}}</label>
          </div>
        </div>

          <!-- Input type checkbox -->
          <div *ngSwitchCase="'checkbox'">
            <div class="check-btn-group" *ngFor="let opt of field.options">
              <input name="{{field.columnName}}" type="checkbox" id="{{opt.key}}">
              <label for="{{opt.key}}">{{opt.value}}</label>
            </div>
          </div>

        <!-- text area -->
        <textarea *ngSwitchCase="'textarea'" class="form-control" id="exampleFormControlTextarea2" rows="5"></textarea>
      </div> 
    </div>

    <div class="form-group row">
      <div class="col-md-6 offset-md-6">
        <button class="btn btn-default" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </div>
    
  </form>
  </div>
  </div>
  </div>
  </div>

