$primary-color: #1f4a7c;



header{
    background: $primary-color;
}
.logo-text{
    
    padding: 11px;
    display: inline-block;
    height: 80px;
}
.logo-text h2{
    color: $primary-color;
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 0;
}
.logo-text p{
    font-weight: 500;
    margin-bottom: 0;
    /* text-align: left */
}
.logo-secion a{
    margin-top: 15px;
}

.logo-block{
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
.navbar-nav{
    display: inline-block;
    float: right;
    margin-top: -14px;
}
#nav_bar {
	padding: 22px 0;    
}
.welcome-user {
    float: left;
    padding: 9px 5px;
    font-weight: 500;
    color: #FFF;
}
.welcome-user b {
    color: #7bb918;
}

.navbar-nav li {
	display: inline-block;
    margin-top: 4px;
}
.navbar-nav li a {
	padding: 0 15.5px;
	color: #fff;
    text-decoration: none;
    display: inline !important;
}
